
    <div class="col-md-4 offset-4 mt-5 ">
        <input type="text" name="name" id="name" class="form-control"
        placeholder="Search by Movie Name" >
    </div>
    
    <span class="col-md-4 card card-body" *ngFor="let movie of Movies">
        <h1>{{movie.name}}</h1>
        <img src="{{movie.imgurl}}" alt="">
    </span>
        <span class="col-md-4 card card-body" *ngFor="let movie1 of Movies1">
            <h1>{{movie1.name1}}</h1>
            <img src="{{movie1.imgurl1}}" alt="" >
        </span>
        <span class="col-md-4 card card-body" *ngFor="let movie2 of Movies2">
                <h1>{{movie2.name2}}</h1>
                <img src="{{movie2.imgurl2}}" alt="" >
    </span>
