<form action="" class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" 
       (ngSubmit)="logindata(form)">
    <h1 class="text-center bg-dark text-white">Add Movie</h1>
    <div class="form group">
      <input type="text" name="movie" id="movie" class="form-control" 
      placeholder="Add Movie" #movie="ngModel" ngModel required>
      <div *ngIf="movie.touched && movie.invalid">
      <p class="alert alert-danger"  *ngIf="movie.errors.required">
        *this feild is required</p>
      </div>
    </div>

    <div class="form group">
        <input type="text" name="title" id="title" class="form-control" 
        placeholder="Movie Title" #title="ngModel" ngModel required>
        <div *ngIf="title.touched && title.invalid">
         <p class="alert alert-danger" *ngIf="title.errors.required">*this feild is required</p>
        </div>
    </div>
    
    <div class="form group">
         <input type="url" name="imgurl" id="imgurl" class="form-control" 
          placeholder="Movie imgurl" #imgurl="ngModel" ngModel required>
         <div *ngIf="imgurl.touched && imgurl.invalid">
         <p class="alert alert-danger" *ngIf="imgurl.errors.required">*this feild is required</p>
         </div>
    </div>

    <div class="form group">
            <input type="text" name="desc" id="desc" class="form-control" 
            placeholder="Movie Description" #desc="ngModel" ngModel required>
            <div *ngIf="desc.touched && desc.invalid">
             <p class="alert alert-danger" *ngIf="desc.errors.required">*this feild is required</p>
            </div>
    </div>
    

    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right"
        [disabled]="form.invalid">Add</button>
    </div>
</form>
